.confirmApplication {
  .el-dialog {
    width: 80%;

    .el-dialog__body {
      padding: 1rem 0.7rem;
    }
  }
  .addApplication .el-input--medium .el-input__inner {
    height: 30px;
    width: 800px;
    line-height: 30px;
  }
}

